{edoc_opts,[{dir,"DOC"},{todo,true},{preprocess,true},{includes,[".","deps"]}]}.

{erl_opts,[debug_info,warn_missing_spec]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{xref_warnings, true}.
{xref_strict, false}.
{xref_checks, [
				deprecated_functions,
				deprecated_function_calls,
				undefined_function_calls,
			    locals_not_used
]}.
