{erl_opts, [debug_info, warn_missing_spec]}.

{deps,[{erlanglibs,[],{git,"git@github.com:spilgames/erlanglibs.git",{tag,"0.35.1"}}},
       {estatsd,"0.0.1",{git,"git@github.com:spilgames/estatsd.git",{tag,"0.0.1"}}},
       {twig,"0.2.1",{git,"git@github.com:spilgames/twig.git",{tag,"0.2.1"}}},
       {meck, "", {git, "git@github.com:spilgames/meck.git", {tag, "0.7.2-0"}}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_compile_opts, [{d, 'TESTING'}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{xref_warnings, true}.
{xref_strict, false}.
%% {xref_checks, [
%%                 deprecated_functions,
%%                 deprecated_function_calls,
%%                 undefined_function_calls,
%%                 locals_not_used
%% ]}.
