[
    {estatsd, [
        {flush_interval,    15000},         %% default is 10 seconds
        {graphite_host,     "localhost"},   %% default is "127.0.0.1"
        {graphite_port,     2003},          %% default is 2004
        {vm_metrics,        true},          %% default is true: enable sending VM metrics

        %% {Enabled,Disabled} generic stats. Default:
        %% Enabled = [used_fds, process_count, reductions, run_queue]
        %% Disabled = []
        %% You can only add erlang:statistics(Name) stats. Only a subset is supported
        {vm_statistics,     {[context_switches], [used_fds]}},

        %% {Enabled,Disabled} memory stats. Default:
        %% Enabled = [total, binary, atom, ets, processes]
        %% Disabled = []
        %% You can only add erlang:memory(Name) stats.
        {vm_memory,         {[code], []}}
    ]}
].
